{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <h1>CasaNova</h1>
        </div>
        <div class="header-link">
            <a href="#about">sobre</a>
            <a href="#imovel">imoveis</a>
        </div>
    </header>

    <section class="about" id="about">
        <div class="about-logo">
            <img src="" alt="">
        </div>
        <div class="about-description">
            <h3></h3>
        </div>
    </section>

    <section class="imovel" id="imovel">
        <div>
            Ola
        </div>
    </section>

    <footer class="footer">
        <h1>Lucas Leoni</h1>
        <h2>Django</h2>
    </footer>
</body>

</html>