{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <h1>CasaNova</h1>
        </div>
        <div class="header-link">
            <a href="#about">sobre</a>
            <a href="#imovel">imóveis</a>
        </div>
    </header>

    <section class="about" id="about">
        <div class="about-container">
            <h1>CasaNova é Aqui!</h1>
            <p>A CasaNova é uma plataforma moderna e intuitiva criada para conectar pessoas ao imóvel ideal. Aqui você
                encontra casas, apartamentos, terrenos e empreendimentos com detalhes completos, fotos de alta qualidade
                e
                filtros inteligentes que deixam sua busca rápida e descomplicada.
                <br>
                <br>
                Nosso objetivo é tornar o processo de compra, venda ou aluguel muito mais simples, transparente e
                seguro.
                Com uma interface clara e ferramentas avançadas, você pode comparar imóveis, favoritar opções, falar com
                corretores e acompanhar tudo em um só lugar.
                <br>
                <br>
                Seja para investir, mudar de cidade ou realizar o sonho da casa própria, a CasaNova é o caminho mais
                confiável para encontrar seu novo lar.
            </p>
            <h1>Veja os imóveis abaixo!</h1>
        </div>
    </section>

    <section class="imovel" id="imovel">
        <div class="imovel-container">
            {% for imovel in imoveis %}
            <div class="imovel-card">
                <img src="" alt="">
                <h1>{{ imovel.titulo }}</h1>
                <h1>{{ imovel.preco }}</h1>
                <h1>{{ imovel.corretor }}</h1>
            </div>
            {% endfor %}
        </div>
    </section>

    <footer class="footer">
        <h1>Lucas Leoni</h1>
        <h1>Django</h1>
    </footer>
</body>

</html>