{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href="{% url 'imobiliaria:imovel-list' %}" style="text-decoration: none;">
                <h1>CasaNova</h1>
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="header-link">
            <a href="{% url 'imobiliaria:imovel-list' %}#about">sobre</a>
            <a href="{% url 'imobiliaria:imovel-list' %}#imovel">imóveis</a>
            <a href="{% url 'imobiliaria:imovel-create' %}">cadastrar</a>
        </div>
        <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">sair</button>
        </form>
        {% else %}  
        <div class="header-link">
            <a href="{% url 'login' %}">entrar</a>
            <a href="{% url 'imobiliaria:registro' %}">registro</a>
        </div>
        {% endif %}
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="footer">
        <h1>Lucas Leoni</h1>
        <h1>Django</h1>
    </footer>
</body>
</html>