html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    --c1: #304F4C;
    --c2: #5D7D7A;
    --c3: #89AAA7;
    --c4: #FFF;
}

.header, .footer {
    background-color: var(--c1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.header-logo h1, .header-link a{
    color: var(--c3);
    text-decoration: none;
}

.header-logo h1 {
    font-size: 3rem;
}

.header-link a {
    font-size: 2.4rem;
    padding-left: 2rem;
    transition: all 0.2s ease-in-out;
}

.header-link a:hover {
    color: var(--c4);
}

.about {
    background-color: var(--c2);
    height: 100vh;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    color: var(--c1);
}

.about p {
    font-size: 2.4rem;
    text-align: center;
}

.imovel {
    background-color: var(--c3);
    height: 100%;
}

.imovel-container {
    width: 100rem;
    margin: 0 auto;
    padding: 2rem ;
}

.imovel-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.imovel-card {
    border-radius: 2rem;
    background-color: var(--c1);
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease;
}

.imovel-card:hover {
    transform: scale(1.03);
}

.imovel-card img {
    max-width: 100%;
}

.imovel-card h1{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: var(--c3);
}

.imovel-card span{
    color: var(--c2);
}

.footer h1 {
    color: var(--c3);
    font-size: 2rem;
}

.detail {
    height: 100%;
    background-color: var(--c2);
}

.detail-container {
    width: 100rem;
    margin: 0 auto;
    padding: 4rem;
}

.detail img {
    max-width: 100%;
    border: 2px solid var(--c3);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.detail img:hover {
    transform: scale(1.03);
}

.detail-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-text h1{
    color: var(--c1);
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
}

.detail h1:hover{
    transform: scale(1.03);
}


.detail-text p {
    font-size: 3rem;
}

.detail h2 {
    color: var(--c3);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.detail h2:hover{
    background-color: var(--c1);
    transform: scale(1.04);
}
