html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    --c1: #304F4C;
    --c2: #5D7D7A;
    --c3: #89AAA7;
    --c4: #FFF;
}

.header, .footer {
    background-color: var(--c1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.header-logo h1, .header-link a{
    color: var(--c3);
    text-decoration: none;
}

.header-logo h1 {
    font-size: 3rem;
}

.header-link a {
    font-size: 2.4rem;
    padding: 0 2rem;
    transition: all 0.2s ease-in-out;
}

.header-link a:hover {
    color: var(--c4);
}

.header form button {
    background-color: transparent;
    border: none;
    color: var(--c3);
    font-size: 2.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding-right: 2rem;
}

.header form button:hover {
    color: var(--c4);
}

.about {
    background-color: var(--c2);
    height: 100vh;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    color: var(--c1);
}

.about p {
    font-size: 2.4rem;
    text-align: center;
}

.imovel {
    background-color: var(--c3);
    height: 100%;
}

.imovel-container {
    width: 90rem;
    margin: 0 auto;
    padding: 6rem ;
}

.imovel-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.imovel-card {
    border-radius: 2rem;
    background-color: var(--c1);
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease;
}

.imovel-card:hover {
    transform: scale(1.03);
}

.imovel-card img {
    max-width: 100%;
}

.imovel-card h1{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: var(--c3);
}

.imovel-card span{
    color: var(--c2);
}

.footer h1 {
    color: var(--c3);
    font-size: 2rem;
}

.detail {
    height: 100%;
    background-color: var(--c2);
}

.detail-container {
    width: 90rem;
    margin: 0 auto;
    padding: 4rem;
}

.detail-image {
    display: flex;
    justify-content: center;
}

.detail img {
    max-width: 100%;
    width: 80%;
    border: 2px solid var(--c3);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.detail img:hover {
    transform: scale(1.03);
}

.detail-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-text h1{
    color: var(--c1);
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
}

.detail h1:hover{
    transform: scale(1.03);
}


.detail-text p {
    font-size: 3rem;
    text-align: center;
}

.detail h2 {
    color: var(--c3);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.detail h2:hover{
    background-color: var(--c1);
    transform: scale(1.04);
}

.detail-button {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.detail-button a {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--c1);
    color: var(--c3);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border: 2px solid var(--c1);
}

.detail-button a:hover {
    background-color: var(--c3);
    color: var(--c1);
    border: 2px solid var(--c2);
}

.form {
    display: flex;
    justify-content: center;  
    align-items: center;       
    width: 100%;
    padding: 2rem 0;
    background-color: var(--c3);
    max-height: 120vh;
    height: 100%;
}

.form-container {
    max-width: 90rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
    height: 100%;
}

.form form p {
    font-size: 2rem;
    color: var(--c1);
    display: flex;
    flex-direction: column;
    gap: 1rem   
}

.form form input, .form form textarea, .form form select {
    border: 2px solid var(--c1);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--c1);
}

.form form button {
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--c1);
    color: var(--c3);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid var(--c1);
}

.form-button {
    display: flex;
    justify-content: center;
}

.form form button:hover {
    background-color: var(--c2);
    color: var(--c1);
    border: 2px solid var(--c2);
}

#id_disponivel {
    height: 5rem;
}

.form-section {
    height: 100vh;
    background-color: var(--c2);
    display: flex;
    justify-content: center;
}

.form-container-delete {
    max-width: 120rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
    height: 100%;
}

.form-container-delete h1 {
    font-size: 6rem;
    color: var(--c1);
    text-align: center;
    margin-bottom: 3rem;
}

.form-container-delete form p {
    font-size: 4rem;
    color: var(--c1);
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    text-align: center;
}

.form-container-delete a, .form-container-delete button {
    padding: 2rem;
    font-size: 3rem;
    background-color: var(--c1);
    color: var(--c3);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border: 2px solid var(--c1);
    cursor: pointer;
}

.form-container-delete a:hover, .form-container-delete button:hover {
    background-color: var(--c3);
    color: var(--c1);
    border: 2px solid var(--c2);
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.login, .registro {
    height: 100vh;
    background-color: var(--c2);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.login-box, .registro-box {
    max-width: 60rem;
    width: 80%;
    background-color: var(--c3);
    padding: 4rem;
    border-radius: 2rem;
}

.login-box h2, .registro-box h2 {
    font-size: 4rem;
    color: var(--c1);
    text-align: center;
    margin-bottom: 3rem;
}

.login-box form p, .registro-box form p {
    font-size: 2rem;
    color: var(--c1);
    display: flex;
    flex-direction: column;
    gap: 1rem;  
}

.login-box form input, .registro-box form input {
    border: 2px solid var(--c1);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--c1);
}

.login-box form button, .registro-box form button {
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--c1);
    color: var(--c3);
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid var(--c1);
    width: 100%;
    margin-top: 2rem;
}

.login-box form button:hover, .registro-box form button:hover {
    background-color: var(--c2);
    color: var(--c1);
    border: 2px solid var(--c2);
}

