html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

:root {
    --c1: #304F4C;
    --c2: #5D7D7A;
    --c3: #89AAA7;
    --c4: #FFF;
}

.header, .footer {
    background-color: var(--c1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.header-logo h1, .header-link a{
    color: var(--c3);
    text-decoration: none;
}

.header-logo h1 {
    font-size: 3rem;
}

.header-link a {
    font-size: 2.4rem;
    padding-left: 2rem;
    transition: all 0.2s ease-in-out;
}

.header-link a:hover {
    color: var(--c4);
}

.about {
    background-color: var(--c2);
    height: 100vh;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    color: var(--c1);
}

.about p {
    font-size: 2.4rem;
    text-align: center;
}

.imovel {
    background-color: var(--c3);
    height: 100vh;
}

.imovel-container {
    width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 3rem 0;
}

.imovel-card {
    background-color: var(--c1);
}

.footer h1 {
    color: var(--c3);
    font-size: 2rem;
}
